* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

:root {
    --border-color: #dbdbdb;
    --text-color: #333;
    --primary-color: #1435c3;
    --white-color: #fff;
    --icon-color: #666;
    --header-height: 90px;
    --background-color: #f5f5f5;
    --body-color: #f3f6ff;
}

.must-input-icon {
    color: red;
}

.btns--size-s {
    height: 30px;
    font-size: 13px;
}

.no-padding {
    padding: 0;
}