* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   }

:root {
    --border-color: #dbdbdb;
    --text-color: #333;
    --primary-color: #1435c3;
    --white-color: white;
}

.must-input-icon {
    color: red;
}

.btns--size-s {
    height: 30px;
    font-size: 13px;
}